#about-me .summary-text {
    font: normal 450 1.2rem var(--raleway);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.my-portrait {
    max-width: 250px;
    max-height: 250px;
    width: 20%;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-width: thin;
    padding: 0.1rem;
    border-color: rgb(153, 153, 153);
    margin-bottom: 3rem;
}

@media (max-width: 900px) {
    #about-me .summary-text {
        font-size: 1.1rem;
    }
}

@media (max-width: 450px) {
    #about-me .summary-text {
        font-size: 0.9rem;
    }
    .my-portrait {
        min-width: 120px;
        min-height: 120px;
    }
}