#about-me .summary-text{
    font: normal 400 2.5vmin "Ubuntu";
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;
}

.my-portrait{
    width: 15%;
    height: 15%;
    max-width: 450px;

    border-radius: 100%;
    border-style: solid;
    border-width: thin;
    border-color: rgb(153, 153, 153);

    margin-bottom: 3rem;    
}