#projects hr {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 6rem 0rem;
}

.even {
    flex-direction: row-reverse
}

#projects .project {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#projects .content-container {
    width: 45%;
    margin: 0px 30px;
    /* border: 2px solid black; */
}

.project-image {
    position: relative;
    object-fit: cover;
    background-size: contain;
    width: 95%;
}

#projects .image-container {
    width: 45%;
    /* min-width: 300px; */
    /* margin: 0px 30px; */
    display: flex;
    justify-content: center;
}

#projects .project .project-title {
    font: normal 900 1.3rem var(--raleway);
    text-align: center;
    margin-bottom: 20px;
}

#projects .project .project-description {
    font: normal 500 1.1rem var(--raleway);
    text-align: center;
}

#projects .project .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#projects .project .project-button {
    font: normal 550 13px var(--raleway);
    color: var(--dark-gray);
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-gray);
    border-radius: 5%;
    margin: 3rem 5%;
    padding: 0.5rem 2rem;
    transition: .3s ease;
    transition-property: background-color, color;
}

#projects .project .project-button:hover {
    color: white;
    background-color: var(--dark-gray);
    text-decoration: none;
}

#projects .view-more-projects-button {
    margin: 6rem 0rem;
    font: normal 500 17px var(--raleway);
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--dark-gray);
    padding: 0.7rem 0rem;
    width: 80%;
    transition: .3s ease;
    transition-property: color;
}

#projects .view-more-projects-button:hover {
    color: var(--pink-shade);
    text-decoration: none;
}

#learn-more-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    backdrop-filter: blur(5px);
    z-index: 1;
    animation-name: popup-open;
    animation-duration: 0.5s;
}

#learn-more-popup .content {
    min-height: 20%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5% 0% 5%;
    background-color: white;
    border-radius: 5px;
    padding: 2% 10%;
    position: relative;
    overflow: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
}

#learn-more-popup h2 {
    margin: 0.75rem 0rem;
    font: normal normal 1.75rem "Raleway";
    text-align: center;
    text-overflow: unset;
}

#learn-more-popup .video-container {
    width: 70%;
    margin: 0.75rem 0rem;
}

#learn-more-popup .video-container iframe {
    width: 100%;
}

#learn-more-popup p {
    margin-top: 0.75rem;
    font: normal normal 1rem "Raleway";
}

#learn-more-popup .pink-gradient-text {
    font-weight: 450;
}

#learn-more-popup .close {
    position: absolute;
    font-size: 2rem;
    transform: rotate(45deg);
    top: 10px;
    right: 10px;
}

@media (max-width: 900px) {
    #projects .project {
        flex-direction: column;
    }
    #projects .content-container, #projects .image-container {
        width: 80%;
    }
    #projects .image-container {
        margin-bottom: 2rem;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .project-image {
        margin: -50px 0 0 0px;
    }
    #projects hr {
        margin: 0rem 0rem 4rem 0rem;
    }
    #projects .project .project-button {
        padding: 0.5rem 1rem;
    }
    #learn-more-popup h2 {
        font-size: 1.25rem;
    }
    #learn-more-popup .video-container {
        width: 70%;
        margin: 0.75rem 0rem;
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
    }
    #learn-more-popup .video-container iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 450px) {
    #projects .image-container {
        height: 130px;
    }
    #projects .project .project-button {
        padding: 0.5rem 1rem;
    }
    #projects .project .project-title {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
    #projects .project .project-description {
        font-size: 0.8rem;
    }
    #projects hr {
        margin: 0rem 0rem 2rem 0rem;
    }
    #projects .project .project-button {
        font-size: 0.6rem;
        margin: 2rem 0.5rem;
        padding: 0.3rem 0.6rem;
    }
    #projects .view-more-projects-button {
        font-size: 0.75rem;
        margin: 1.5rem 0rem;
        padding: 0.5rem 0rem;
    }
    #learn-more-popup h2 {
        font-size: 1rem;
        white-space: pre-line;
    }
    #learn-more-popup p {
        font-size: 0.8rem;
    }
    #learn-more-popup .video-container iframe {
        height: 100%;
    }
    #learn-more-popup .video-container {
        width: 100%;
    }
}